.back {
    background: var(--elements-background);
    color: var(--text-color);
    display: flex;
    width: 180px;
    justify-content: center;
    height: 50px;
    cursor: pointer;
    align-items: center;
    border-radius: 10px;
}

.flag {
    width: 100%;
    aspect-ratio: 16/9 !important;
    max-height: 100%;
}

.main {
    flex: 1;
    background: var(--page-background);
    padding: 0 50px;
    display: flex;
    flex-direction: column;
  }

a {
    text-decoration: none;
}

.back span {
    text-decoration: none;
    user-select: none;
}

.details {
    margin-top: 100px;
    color: var(--text-color);
    display: grid;
    flex: 1;
    margin-bottom: 200px;
    place-items: center;
    grid-template-columns: 50% 50%;
}

.name {
    margin-bottom: 40px
}

.info {
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.stats strong {
    font-weight: 600;
}

.stats {
    display: flex;
}

.stats span {
    margin-bottom: 20px;
}

.column {
    display: flex;
    flex-direction: column;
}

.column:nth-child(2) {
    margin-left: 100px;
}

.borderCountries {
    display: flex;
    flex-wrap: wrap;
}

.borderCountries strong {
    font-weight: 600;
    transform: translateY(15%);
    margin-right: 20px;
    margin-bottom: 20px;
}

.borderCountry {
    padding: 10px 30px;
    width: max-content;
    margin: 0 20px 20px 0;
    overflow: hidden;
    color: var(--text-color);
    text-overflow: ellipsis;
    border-radius: 10px;
    box-shadow: 3px 2px 10px -2px black;
    background: var(--elements-background);
}

@media screen and (max-width: 1152px) {
    .details {
        grid-template-columns: 100%;
        grid-auto-rows: minmax(min-content, max-content);
        place-items: center;
    }
    .info {
        margin-left: 0;
        margin-top: 100px;
    }
    .flag {
        width: 100%;
    }
}